body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    
    border: 10px solid black;
    border-radius: 20%;
    display: inline-block;
    margin: 1.5rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.yellow{
    background-color: rgb(241, 208, 22);
}
.red{
    background-color: rgb(245, 85, 85);
}
.blue{
    background-color: rgb(111, 146, 241);
}
.green{
    background-color: rgb(95, 221, 95);
}
.flash{
    background-color: rgb(2, 23, 41);
}
.userflash{
    background-color: green;
}